<%- include('./partials/header.ejs') %>

<div class="dashboard-container">
  <h3>Statistic of patients by City</h3>
  <div class="chart-container">
    <canvas id="byCity" width="400" height="50"></canvas>
  </div>

  <div class="chart-container">
    <div class="pie">
      <h3>Doctors specializations</h3>
      <canvas id="byDoctor"></canvas>
    </div>
    <div class="age">
      <h3>Patinets statistic by age</h3>
      <canvas id="byAge"></canvas>
    </div>
  </div>
</div>
